[submodule "references"]
	path = references
	url = git@github.com:prototype99/references.git
[submodule "mmu-hpc-2022-2023"]
	path = mmu-hpc-2022-2023
	url = git@github.com:prototype99/mmu-hpc-2022-2023.git
